.profile-page__container {
	display: flex;
}

.user-info__container {
	width: 250px;
	height: 800px;
	background-color: white;
	display: flex;
	justify-content: start;
	flex-direction: column;
	align-items: center;
	border-radius: 25px;
	box-shadow: 2px 2px mediumaquamarine;
	margin: 30px;
}

.profile-pic {
	width: 200px;
	margin-top: 30px;
}

.page-title {
	text-align: center;
	border-bottom: 4px solid #5d18eb;
}

.add-icon {
	margin-top: 60px;
	margin-right: 40px;
	width: 300px;
}

.group-card__container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	margin: 30px;
	padding: 30px;
	box-sizing: border-box;
}

.groups-card {
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.group-category {
	text-align: center;
	text-transform: uppercase;
	margin: 10px;
	font-size: 20px;
}

.icon-img {
	width: 300px;
	border-radius: 25px;
}

.delete-and-title {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
