.profile-page__container {
	display: flex;
}

.page-title {
	text-align: center;
	border-bottom: 4px solid #5d18eb;
	font-size: 35px;
	font-family: 'Baloo 2', serif;
	font-weight: bold;
	margin: 20px;
}

.add-icon {
	margin-top: 60px;
	margin-right: 40px;
	width: 300px;
}

.group-card__container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	margin: 30px;
	padding: 30px;
	box-sizing: border-box;
}

.groups-card {
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.group-category {
	text-align: center;
	text-transform: uppercase;
	margin: 10px;
	font-size: 20px;
	font-family: 'Baloo 2', serif;
	font-weight: bold;
}

.bottom-title {
	font-size: 20px;
	font-family: 'Baloo 2', serif;
}

.icon-img {
	width: 300px;
	border-radius: 25px;
}

.delete-and-title {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 10px;
}

a {
	text-decoration: none;
}
